
html {
  font-family: Arial,Helvetica,sans-serif;
  background-color: white;
  color: black;
}

body {
  margin: 2em;
}

p {
  max-width: 60em;
}

table {
    border: 1px solid #808080;
    border-collapse: collapse;
    empty-cell: show;
    margin: 0.5em 2em;
}

table caption {
    text-align: left;
    padding-bottom: 0.5em;
    font-style: italic;
    margin: 0.5em 2em;
}

table th, table td {
    border: 1px solid #808080;
    font-family: arial,helvetica,sans-serif;
    height: 1.2em;
    font-size: 0.85em;
}

table th {
    padding: 0.1em 1em;
    background: #E0E0E0;
}

table td {
    padding: 0.1em 1em 0.1em 0.3em;
}

