#
# Paths of commands used in tests.
#

# OpenAFS commands
AKLOG = "{{ ansible_local.openafs.bins['aklog'] }}"
BOS = "{{ ansible_local.openafs.bins['bos'] }}"
FS = "{{ ansible_local.openafs.bins['fs'] }}"
KLOG_KRB5 = "{{ ansible_local.openafs.bins['klog.krb5'] }}"
PAGSH = "{{ ansible_local.openafs.bins['pagsh'] }}"
PTS = "{{ ansible_local.openafs.bins['pts'] }}"
RXDEBUG = "{{ ansible_local.openafs.bins['rxdebug'] }}"
TOKENS = "{{ ansible_local.openafs.bins['tokens'] }}"
UDEBUG = "{{ ansible_local.openafs.bins['udebug'] }}"
UNLOG = "{{ ansible_local.openafs.bins['unlog'] }}"
VOS = "{{ ansible_local.openafs.bins['vos'] }}"

# Kerberos commands
KDESTROY = "{{ afs_kdestroy | d(ansible_local.openafs.bins['kdestroy']) }}"
KINIT = "{{ afs_kinit | d(ansible_local.openafs.bins['kinit']) }}"

# Misc commands
PYTHON = "{{ afs_python | d(ansible_python.executable, true) }}"
GFIND = "{{ afs_gfind | d('/usr/bin/find', true) }}"
GDIFF = "{{ afs_gdiff | d('/usr/bin/diff', true) }}"
