--name Local OpenAFS Sandbox
--variablefile {{ robotrc }}/local_openafs_sandbox.py
--exclude bug
--exclude slow
--exclude rogue-avoidance
--exclude requires-multi-fs
--loglevel INFO
--outputdir reports
--debugfile debug.log
--runemptysuite
