--name Smoketest
--variablefile {{ settings }}/site_settings.py
--variablefile {{ settings }}/command_paths.py
--exclude bug
--exclude slow
--exclude rogue-avoidance
--exclude requires-multi-fs
--loglevel INFO
--outputdir reports
--debugfile debug.log
--runemptysuite
