#
# Molecule test runner requirements
#
ansible==9.1.0
ansible-compat==4.1.11
ansible-core==2.17.7
molecule==6.0.3
molecule-robotframework==3.0.0
molecule-plugins[docker,vagrant]==23.5.0
#
# docs requirements
#
Sphinx==7.2.6
sphinx-rtd-theme==2.0.0
robotframework>=4.0.0
