#
# This file provides default values of the global test variables.
# Uncomment and change the value to customize the default values.
# Command-line arguments given to run-tests.sh override the values
# in this file.
#
# Run options
# -----------
# RUN_OUTPUT_DIR="output"
# RUN_TAGS="precheck,install,smoke"
#
# Test variables
# --------------
# AFS_CELL="robotest"
# AFS_HOST=`hostname -f`
# AFS_SUPERUSER="robotest.admin"
# AFS_TESTUSER="robotest"
# ENV_DIST="redhat"
# ENV_KEY="k5"
# IBM_DEST=""
# KRB_AFS_KEYTAB="keytabs/afs.keytab"
# KRB_REALM="LOCALREALM"
# KRB_RXKAD_KEYTAB="keytabs/rxkad.keytab"
# KRB_USER_KEYTAB="keytabs/robotest.keytab"
# RPM_AFSRELEASE="1"
# RPM_AFSVERSION=""
# RPM_PACKAGE_DIR="$HOME/rpmbuild/RPMS/x86_64"
#
