molecule[ansible]==3.6.1
molecule-robotframework==2.0.1
{%- if cookiecutter.driver.startswith('vagrant') %}
molecule-vagrant
{%- elif cookiecutter.driver == 'proxmox' %}
molecule-proxmox
{%- endif %}
