{% raw -%}
---
# Realm
KRB_REALM: "{{ afs_realm | d('EXAMPLE.COM') }}"

# Cell
AFS_CELL: "{{ afs_cell | d('example.com') }}"
AFS_AKIMPERSONATE: False
AFS_USER: "{{ afs_user | d(ansible_user) }}"
AFS_ADMIN: "{{ afs_admin | d(ansible_user + '.admin') }}"
AFS_ADMIN_KEYTAB: "{{ afs_admin_keytab | d(ansible_user + '.admin.keytab') }}"

# Test servers
AFS_FILESERVER_A: "{{ afs_robotest_fileserver_a | d('missing') }}"
AFS_FILESERVER_B: "{{ afs_robotest_fileserver_b | d('missing') }}"

# Client info
PAG_ONEGROUP: True

# OpenAFS installation paths
AKLOG: "{{ ansible_local.openafs.bins['aklog'] }}"
BOS: "{{ ansible_local.openafs.bins['bos'] }}"
FS: "{{ ansible_local.openafs.bins['fs'] }}"
KLOG_KRB5: "{{ ansible_local.openafs.bins['klog.krb5'] }}"
PAGSH: "{{ ansible_local.openafs.bins['pagsh'] }}"
PTS: "{{ ansible_local.openafs.bins['pts'] }}"
RXDEBUG: "{{ ansible_local.openafs.bins['rxdebug'] }}"
TOKENS: "{{ ansible_local.openafs.bins['tokens'] }}"
UDEBUG: "{{ ansible_local.openafs.bins['udebug'] }}"
UNLOG: "{{ ansible_local.openafs.bins['unlog'] }}"
VOS: "{{ ansible_local.openafs.bins['vos'] }}"

# Kerberos paths
KDESTROY: "{{ ansible_local.openafs.bins['kdestroy'] }}"
KINIT: "{{ ansible_local.openafs.bins['kinit'] }}"

# Misc paths
PYTHON: "{{ afs_python | d(ansible_python.executable) }}"
GFIND: "{{ afs_gfind | d('/usr/bin/find') }}"
{%- endraw %}
